.vs/
.nuke/temp/
.idea/
.resolved-version
artifacts/
bin/
obj/
.env
node_modules/
.vscode/
.angular/
BarStrad*
set-environment.ps1

.build/.build.env

.pnpm-store/

documentation/.docusaurus/

*.code-workspace
